<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="username" value="office@jdcm.uk"/>
    <add key="password" value="AweJDCM#321"/>
    <add key="pages" value="5"/>
  </appSettings>
</configuration>